bin
.bundle
config/database.yml
config/danbooru_local_config.rb
config/secret_token
config/session_secret_key
db/*.sqlite3
log/*.log
tmp/*
public/assets
public/data
vendor/bundle
vendor/cache/*.gem
.sass-cache
.DS_Store
coverage
*~
*.swp
tmp/*.jpg
tmp/*.png
