<div id="c-users">
  <div id="a-upgrade-information">
    <h1>Upgrade Your Account</h1>

    <p class="copy">We're not Danbooru, so account upgrades don't apply. If you run into messages asking you to upgrade your account, <%= mail_to Danbooru.config.contact_email, 'let us know', :encode => :javascript %>.</p>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Upgrade - <%= Danbooru.config.app_name %>
<% end %>
